.tips {
  background-color: #f6f6f6; }
  .tips__body {
    padding-top: 80px;
    padding-bottom: 100px; }
    @media (max-width: 600px) {
      .tips__body {
        padding-top: 50px;
        padding-bottom: 50px; } }

.tips-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px; }
  @media (max-width: 1260px) {
    .tips-row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .tips-row__heading {
    max-width: 600px;
    margin-right: 200px;
    position: relative; }
    @media (max-width: 1470px) {
      .tips-row__heading {
        margin-right: 100px; } }
    @media (max-width: 1330px) {
      .tips-row__heading {
        margin-right: 40px; } }
    @media (max-width: 1260px) {
      .tips-row__heading {
        max-width: 100%;
        margin-bottom: 30px; } }
  .tips-row__title {
    margin-bottom: 45px; }
  .tips-row__text {
    line-height: 1.778;
    margin-bottom: 35px; }
  .tips-row__img-box {
    position: absolute;
    bottom: -100px; }
    @media (max-width: 1260px) {
      .tips-row__img-box {
        display: none; } }

.tips-row-2 {
  width: 60%; }
  @media (max-width: 1260px) {
    .tips-row-2 {
      width: 100%; } }
  .tips-row-2__title {
    font-size: 50px;
    font-family: "Tahu";
    font-weight: 400;
    margin-bottom: 70px; }
  .tips-row-2__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 640px) {
      .tips-row-2__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .tips-row-2__col {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .tips-row-2__col:first-child {
      margin-right: 80px; }
      @media (max-width: 640px) {
        .tips-row-2__col:first-child {
          margin-right: 40px; } }
      @media (max-width: 640px) {
        .tips-row-2__col:first-child {
          margin-right: 0; } }
    @media (max-width: 640px) {
      .tips-row-2__col {
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin-bottom: 50px; } }
  .tips-row-2__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc; }
    .tips-row-2__item:not(:last-child) {
      margin-bottom: 50px; }
  .tips-row-2__img-box {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 100px;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tips-row-2__img-box img {
      max-width: 100%; }

.tips-row-3__box {
  padding: 50px 80px;
  background-color: #000;
  color: #fff;
  max-width: 1060px;
  margin-left: 115px; }
  @media (max-width: 1260px) {
    .tips-row-3__box {
      margin-left: 0; } }
  @media (max-width: 640px) {
    .tips-row-3__box {
      padding: 30px 30px; } }

.tips-row-3__title {
  margin-bottom: 30px;
  font-size: 22px;
  text-transform: uppercase; }

.tips-row-3__text {
  line-height: 1.273;
  font-weight: 300; }
  .tips-row-3__text:not(:last-child) {
    margin-bottom: 30px; }
